services:
    homeassistant:
        container_name: ha
        image: ghcr.io/home-assistant/home-assistant:stable
        env_file:
            - .env
        cap_add:
            - NET_ADMIN
            - NET_RAW
        volumes:
            - ${CONFIG_DIR}:/config
            - /etc/localtime:/etc/localtime:ro
            - /run/dbus:/run/dbus:ro
        restart: unless-stopped
        network_mode: host
