services:
    silverbullet:
        image: ghcr.io/silverbulletmd/silverbullet:latest
        container_name: silverbullet
        environment:
            - SB_USER=${SB_USER}
        volumes:
            - ${SB_DATA_DIR}:/space
        restart: unless-stopped
        networks:
            - proxy

networks:
    proxy:
        external: true
