services:
    homepage:
        image: ghcr.io/gethomepage/homepage:latest
        container_name: homepage
        user: root
        volumes:
            - ${HOMEPAGE_VAR_CONFIG_DIR}:/app/config
            - /var/run/docker.sock:/var/run/docker.sock:ro
        env_file:
            - .env
        restart: unless-stopped
        networks:
            - proxy

networks:
    proxy:
        external: true
