services:
  cloudflared:
    image: cloudflare/cloudflared:latest
    container_name: cloudflared
    restart: unless-stopped
    env_file:
      - .env
    command: tunnel --no-autoupdate run --token ${CF_TUNNEL_TOKEN}
#    volumes:
#      - ${DATA_DIR}:/etc/cloudflared
    networks:
      - proxy

networks:
  proxy:
    external: true
