services:
    portainer:
        container_name: portainer
        image: portainer/portainer-ce:lts
        restart: always
        volumes:
            - /var/run/docker.sock:/var/run/docker.sock
            - portainer_data:/data
        networks:
            - proxy

volumes:
    portainer_data:
        name: portainer_data

networks:
    proxy:
        external: true
